
.main-title{
  font-size: 35px;
  margin: 80px auto;
  border: 3px solid #000;
  width: fit-content;
  position: relative;
  z-index: 1;
  padding: 5px 15px;
  transition: 1s;
} 
.main-title::before,
.main-title::after{
  content: "";
  width: 12px;
  height: 12px;
  background-color: #2196f3;
  position: absolute;
  border-radius: 50px;
  transition: 1.5s;
  top: 50%;
  transform: translateY(-50%);
} 
.main-title::before{
  left: -30px;
}
.main-title::after{
  right: -30px;
} 
.main-title:hover:before{
  z-index: -1;
  animation: left-move 1s linear forwards;
}
.main-title:hover::after{
  z-index: -1;
  animation: right-move 1s linear forwards;
}
.main-title:hover{
    color: #991212;
  border: white solid;
  transition-delay: 1s;
}
@keyframes left-move {
  50%{
    left: 0;
    width: 12px;
    height: 12px;
  }
  100%{
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes right-move {
  50%{
    right: 0;
    width: 12px;
    height: 12px;
  }
  100%{
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
/* End Global Rules */


.header{
  background-color: white;
  position: relative;
  --webkit-box-shadow:0 0 10px #ddd;
  --moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}

.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header .logo{
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 830px) {
  .header .logo {
    width: 100%;
    font-size: 64px;
  }
}
.header .main-nav{
display: flex;

}
@media (max-width: 820px) {
  .header .main-nav  {
   margin: auto;
  }
}

@media (max-width: 500px) {
  .header .main-nav  {
   margin: 0;
  }
}

@media (max-width: 500px) {
  .header .main-nav > li >a {
     font-size: 13px;
  }
}
@media (max-width: 500px) {
  .header .main-nav > li  {
    margin-right: -47px;
  }
}



.header .main-nav > li >  a{
display: flex;
justify-content: center;
align-items: center;
height: 72px;
position: relative;
color: #000;
padding: 0 30px;
font-size: 20px;
overflow: hidden;
transition: 0.3s;
}
.header .main-nav .icon-ph{
  cursor: pointer;
}
.header .main-nav .icon-ph >i{
  font-size: 20px;
  margin-top: 28px;
  margin-left: 6px;

}
@media (max-width: 820px) {
  .header .main-nav .icon-ph  > li > a {
    padding: 10PX;
    font-size: 14px;
    height: 40px;
  }
}
.header .main-nav  > li > a::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
}
.header .main-nav > li > a:hover{
  color: var(--main-color);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before{
  left: 0;
  transition: 0.3s;
}
.landing{
  position: relative;
}
.landing::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #16213E;
  z-index: -1;
  transform: skewy(-3deg);
  transform-origin: top left;
}
.landing .container{
  min-height: calc(100vh - 72px);
  padding-bottom: 120px; 
}
.landing-texts{
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 93px;
}
@media (max-width: 767px) {
  .tex {
    font-size: 20px;
    letter-spacing: normal;
   
  }
}

 .landing-texts > span{
  text-align: center;
  font-size: 55px;
  font-family: 'Pacifico', cursive;
  margin-top: 30px;
  
} 
.t-a{
  animation: caolo  4s linear infinite;
}
.t-b{
  animation: clotb 4s linear infinite;
}
@keyframes clotb {
  3%{
    color: #000;
  }
  50%{
    color: wheat;
  }
  100%{
    color: #fff;
  }
}
@keyframes caolo {
  0%{
    color: #fff;
  }
  50%{
     color: #062b95;
  }
  100%{
     color: #fff;
  }
}

@media (max-width: 761px) {
  .landing-texts > span{
   font-size: 75px;
    
  }
}

@media (max-width: 548px) {
  .landing-texts > span{
   font-size: 65px;
    
  }
}

@media (max-width: 500px) {
  .landing-texts > span{
    font-size: 44px;
    }
}
.landing-texts > p{
  margin-top: 26px;
  font-size: 20px;
  text-align: center;

}
.landing-texts  img{
  text-align: center;
  margin-left: -1px;
  border-radius: 100px;
  height: 230px;
  margin-top: 37px;
  width: 261px;
}
.landing-texts img:hover {
  transform: scale(1.3) rotate(4deg);
  opacity:0.4 ;
}
.landing-texts  .btn-p-cv{
  text-align: center;
  margin-top: 83px;
  margin-left: 58px;
  color: #fff;
}
.landing-texts  .btn-p-cv a{
  border: #189143 solid;
  margin-right: 78px;
  padding: 10px;
  color: #fff;
  transition: 1.2s;
  font-size: 25px;
}

.landing-texts  .btn-p-cv a:hover{
  background-color: #189143;
  margin-left: 10px;
  transform: scale(1.2) ;
  color: #000;

}

 
 .arrow{
  color: #2196f3;
  font-size: 25px;
  text-align: center;
}



.arrow i{
   animation: bouncing 1.5s infinite;
 }

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100%{
    transform: translateY(0);
  }
  40%,60%{
    transform: translateY(-20px);
  }

}

@media (max-width: 767px) {
  .landing-texts  .btn-p-cv{
   
    margin-left: -1px;
    }
}
 
@media (max-width: 767px) {
  .landing-texts  .btn-p-cv a {
    font-size: 13px;
    margin-right: -1px;
    }
}




.articles-box  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  border: 1px solid #ddd;
  width: fit-content;
  margin: auto;
  margin-bottom: 57px;

  transition: 0.3s;
}
.articles-box img{
  width: 100%
}
.read-more {
  display: flex;
  max-width: 250px;
  font-weight: 800;
  color: #2196f3;
  padding: 10px 5px;
  text-align: left;
  border-top: 2px solid #eee;
  padding: 10px;
}


.articles-box article a,
.articles-box article p,
.articles-box article h4 {
  padding: 10px 9px;
  text-align: center;
}
.articles-box:hover {
  transform: translateY(-3vh) ;
}


.articles-box:hover a{
animation: live 2s linear infinite;
}

@keyframes live {
  25%{
      transform: scale(1.5);
  }
  60%{
      transform: scale(1.8);
  }
}






.slider-container {
  margin: 10px auto;
  width: 100%;
  height: 250px;
  position: relative;
}
.slider-container .img {
  position: absolute;
  display: none;
  transition: opacity 1s;
  z-index: 1;
}
.slider-container .img.active {
  display: inline-flex;
}
.slider-container .slide-number {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: rgba(0, 0, 0, .6);
  color: #FFF;
  padding: 5px 10px;
  font-size: 20px;
  z-index: 2;
  border-radius: 6px;
}
.slider-controls {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.slider-controls .prev,
.slider-controls .next {
  background-color: #009688;
  color: #FFF;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px;
  user-select: none;
  width: 20%;
}
.slider-controls .prev {
  float: left;
}
.slider-controls .next {
  float: right;
}
.slider-controls .prev.disabled,
.slider-controls .next.disabled {
  background-color: rgba(0, 150, 136, 0.5);
  cursor: no-drop;
}
.slider-controls .indicators {
  width: 60%;
  float: left;
}
.slider-controls .indicators ul {
  list-style: none;
  margin: 0;
  text-align: center;
}
.slider-controls .indicators ul li {
  display: inline-block;
  background-color: #F6F6F6;
  color: #333;
  font-weight: bold;
  height: 28px;
  width: 28px;
  border-radius: 4px;
  margin: 0 2px;
  line-height: 28px;
  cursor: pointer;
}
.slider-controls .indicators ul li.active {
  background-color: #009688;
  color: #FFF;
}* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
font-family: Tahoma, Arial;
}
.slider-container {
margin: 10px auto;
width: 800px;
height: 250px;
position: relative;
}

@media (max-width: 767px) {
  .slider-container {
    width: 90%;
    }
} 

.slider-container .img {
position: absolute;
display: none;
transition: opacity 1s;
z-index: 1;
}
.slider-container .img.active {
display: inline-flex;
}
.slider-container .slide-number {
position: absolute;
left: 10px;
top: 10px;
background-color: rgba(0, 0, 0, .6);
color: #FFF;
padding: 5px 10px;
font-size: 20px;
z-index: 2;
border-radius: 6px;
}
.slider-controls {
  width: 100%;
  margin: auto;
  overflow: hidden;
  margin-top: 638px;
}
.slider-controls .prev,
.slider-controls .next {
background-color: #009688;
color: #FFF;
font-size: 16px;
text-align: center;
cursor: pointer;
border-radius: 4px;
padding: 5px;
user-select: none;
width: 20%;
}
.slider-controls .prev {
float: left;
}
.slider-controls .next {
float: right;
}
.slider-controls .prev.disabled,
.slider-controls .next.disabled {
background-color: rgba(0, 150, 136, 0.5);
cursor: no-drop;
}
 @media (max-width: 767px) {
  .slider-controls {
    margin-top: 1054px;
    }
} 

.slider-controls .indicators {
width: 60%;
float: left;
}
.slider-controls .indicators ul {
list-style: none;
margin: 0;
text-align: center;
}
.slider-controls .indicators ul li {
display: inline-block;
background-color: #F6F6F6;
color: #333;
font-weight: bold;
height: 28px;
width: 28px;
border-radius: 4px;
margin: 0 2px;
line-height: 28px;
cursor: pointer;
}
.slider-controls .indicators ul li.active {
background-color: #009688;
color: #FFF;
}
.who{
  margin-top: 194px;
  background-color: #991212;
  color: #e9b85c;
  transform: skewy(-7deg) rotate(6deg);
  transform-origin: bottom right;
  width: 90%;
  margin-left: 14px;
}

@media (max-width: 767px) {
  .who {
    transform: none;
    }
} 

.titel-who >h1{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Passions Conflict', cursive;
}


.body-who{
  margin-top: 25px;
  font-size: 30px;
  text-align: center;
  padding: 10px;
}

@media (max-width: 991px){
 .our-skills img{
    display: none;
  }
}
.our-skills .skills{
  width: 45%;
}

@media (max-width: 991px){
  .our-skills .skills{
    width: 100%;
   }
 }
.our-skills .skill h3{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-skills .skill h3 span{
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #2196f3;
}
.our-skills .skill .the-progress{
  height: 30px;
  background-color: #eee;
  position: relative;
}

.our-skills .skill .the-progress span{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #2196f3;
  transition: width 1s linear;
}

.about{
  background-color: #fff;
  background-image: url(../images/stats.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
}
 .about::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(255 255 255 / 94%);
  z-index: -1;
 }


.about .about-me-body-0{
  font-size: 45px;
  margin-top: 102px;
  font-weight: bold;
}
.phone img{
  width: 273px;
  margin-left: 229px;
  margin-top: 38px;
}
@media (max-width: 1180px){
  .phone img{
    width: 306px;
    margin-left: 146px;
    margin-top: 27px;
   }
 }

 @media (max-width: 991px){
  .phone img{
    display: none;
   }
 }


 @media (max-width: 991px){
  .about-body{
    width: 100%;
    
   }
 }
 @media (max-width: 991px){
  .about-body .about-me-body-0{
    text-align: center;
    font-size: 40px;
       }
 }

 @media (max-width: 991px){
  .about-body .about-us-body-1{
    margin-left: 50px;
    
   }
 }

 @media (max-width: 991px){
  .about-body .about-us-body-1 p{
   font-size: 19px;
    
   }
 }

 @media (max-width: 991px){
  .about-body .about-us-body-1 i{
    margin-top: 42px;
    font-size: 18px;
    margin-bottom: -16px;
    
   }
 }
.about-us-body-1{
  margin-left: 30px;
  font-family: 'Dancing Script', cursive;
  margin-top: 127px;
}

.about-us-body-1 p{
  font-size: 27px;
}
.about-us-body-1 i{
  margin-bottom: 30px;
  font-size: 26px;
  position: relative;
  top: -149px;
  display: block;
  left: -42px;
  color: #e715c3;
}
.about  .show-more{
  margin-left: 380px; 
  width: 279px; 
  margin-top: -67px; 
  position: relative;
}

@media (max-width: 767px){
  .about  .show-more{
    width: 100%;
    margin:0;
   }
 }
.about-us-body-1:hover i  {
  animation: about 2s linear infinite;
  }
  
  @keyframes about {
    25%{
        transform: scale(1.2);
    }
    60%{
        transform: scale(1.3);
    }
  }
  


.con-p{
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.fib{
    margin-top: 3px;
}
.contact input{
    margin-top: 77px;
    border: none;
    outline: none;
    border-bottom: solid brown 2px;
    background-color: #0000ff00;
    text-align: center;
    
    
}
.contact input:focus{
  border-bottom: solid brown 6px;

}
.co-ma:focus{
  border-bottom: solid brown 6px;

}
.co-ma{
    border: none;
    outline: none;
    border-bottom: solid brown 3px;
    margin-top: 33px;; 
    width: 100%;
}
  
@media (max-width: 991px){
  .mab{
    display: none;
   }
 }
 @media (max-width: 991px){
  .fib{
    width: 100%
   }
 }

 .footer { 
  background-color: #000000;
  margin-top: 100px;
  position: relative;

 }


.footer .footer-call-text{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-top: 14px;
}


.footer .social{
  top: -6px;
  text-align: center;
  font-size: 35px;

}

.footer .social i{
  transition: 2s;
  background-color: #4d4d4d;
  color: #bababa;
}

.footer .social i:hover {
  margin-left:20px;
  background-color: #991212;
  color: #fff;
  animation: footer linear infinite 3s;
   
}

@keyframes footer {
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1.1);
  }
  50%{
    transform: scale(1.2);
  }
  70%{
    transform: scale(1.3);
  }
}

.txt-pt-15{
  color: #FFf;
  position: relative;
  top: 44px;
  left: 1px;
  font-size: 12px;
}



 @media (max-width:625px){
  .footer {
      padding: 30px;
   }
 }


 @media (max-width:625px){
  .footer .social{
    position: absolute;
    font-size: 30px;
    left: 84px;
    top: 2px;
   }
 }

 @media (max-width:625px){
  .txt-pt-15{
    left: 51px;
    font-size: 11px;
    top: 43px;
   }
 }
